.home {

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-primary);
  }

  &__subtitle {
    color: var(--color-text-light);
    font-size: 0.95rem;
  }

  &__button {
    padding: 0.7rem;
    border-radius: 8px;
    border: none;
    background: var(--color-secondary);
    color: #000;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      filter: brightness(0.95);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__resultado {
    min-height: 260px;
    border: 1px solid var(--color-border);
    border-radius: 12px;
    background: var(--color-surface);
  }

  &__placeholder {
    color: var(--color-text-light);
    font-size: 0.9rem;
  }

  &__imagem {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: solid 1px var(--color-border);
  }
}