<footer class="footer w-full mt-5">
  <div class="footer__container max-w-6xl mx-auto px-2 py-4 flex flex-col gap-2 text-center md:text-left md:flex-row md:justify-between md:items-center">

    <!-- Info do projeto -->
    <div class="footer__info flex flex-col gap-2">
      <!-- Logo -->
      <div class="flex items-center gap-1 cursor-pointer">
        <svg class="footer__icon w-8 h-8">
          <use href="/svg/icons.svg#icon-cat"></use>
        </svg>

        <!-- some no mobile -->
        <span class="text-lg font-semibold tracking-wider primary-color">
          CATLAB
        </span>
      </div>
      
      <span class="footer__description text-sm">
        Projeto desenvolvido para estudo e demonstração de habilidades em front-end.
      </span>
    </div>

    <!-- Links -->
    <div class="footer__links flex items-center gap-4 text-sm">
      <a href="https://github.com/devtonial777" target="_blank" rel="noopener noreferrer" class="footer__link">GIT</a>
      <a href="https://www.linkedin.com/in/marcos-tonialti/" target="_blank" rel="noopener noreferrer" class="footer__link">LINKEDIN</a>
      <a href="/doc/Analise_v1.0.pdf" target="_blank" rel="noopener noreferrer" class="footer__link">DOCS</a>
    </div>

  </div>

  <!-- Bottom -->
  <div class="footer__bottom text-center text-xs py-4">
    © {{anoAtual}} CATLAB — Desenvolvido por 
    <a href="https://www.linkedin.com/in/marcos-tonialti/" target="_blank" rel="noopener noreferrer" class="footer__link text-bold">
      MARCOS TONIAL
    </a>
  </div>
</footer>