.about {

  & .about__avatar {
    width: 140px;
    height: 140px;
    border-radius: 35px;
    object-fit: cover;
    border: 3px solid var(--color-border);
    ;
  }

  & .about__content {
    color: var(--color-text);
    line-height: 1.6;
  }

  & .about__hobby {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s ease;
  }

  & .about__hobby:hover {
    transform: scale(1.03);
    filter: brightness(1.05);
  }

  & .about__badge {
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    font-size: 0.8rem;
  }
}

/* DESKTOP */
@media (min-width: 768px) {
  .about {
    & .about__avatar {
      width: 50%;
      height: auto;
    }
  }
}